<!DOCTYPE html>
<html>
  <head>
    <title>GoogleLoginSample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <% if current_user %>
        <%= current_user.name %>さん
        <%= button_to "ログアウト", log_out_path, method: :delete, data: { turbo: false } %>
      <% else  %>
        ゲストさん
        <%= button_to "GitHubでログイン", "/auth/github", method: :post,  data: { turbo: false }  %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
